<% if current_user.nil? %>
    <h1><%= @user.name %> is on Drinkspottings</h1>
    Don't miss any drinks from <%= @user.name %>.  Get your account on Drinkspottings today.
    <br />
    <strong><a href="/auth/facebook">Sign up today!</a></strong>
  </div>
<% end %>

<div class="sidebar-right">
  I'm on the right
</div>

<div class="mainarea mainarea-center">
  Main area
</div>
