<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <center>
        <h6><%= f.name %></h6>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <div style="background-color: ##F4E4BF;">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174039_803799546_442177773_q.jpg" style="float:left; padding-right:10px; padding-left:10px;" width="20"/> Posted by TheSchnaz.
        "<%= f.description %>"
      </div>
      <br />
    </div>
  <% end %>
</div>