<% @posted_and_liked_drinks.each do |f| %>
  <h6 class="hashed">&nbsp;</h6>
    <div style="float:left;">
      <%= f.name %><br />
      <%= f.description %>
    </div>
    <div style="float:right;">
      <%= image_tag f.photo.url(:medium) %>
    </div>
  </div>
  <h6 class="hashed">&nbsp;</h6>
<% end %>