<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <h6><%= f.name %></h6>
      <%= f.description %><br />
      <center>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <div style="float:left;">
        Posted by:<br />
        Gregory Schnese
      </div>
      <div style="float:right;">
        Posted at:<br />
        Bar89
      </div>
      <br />
      Tags
    </div>
  <% end %>
</div>