<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <center>
        <h6 style="padding-top:20px; margin-bottom:20px;"><%= f.name %></h6>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <div class="drinkinfo">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174039_803799546_442177773_q.jpg" width="20"/> Posted by TheSchnaz.
        "<%= f.description %>"
      </div>
      <br />
      <div class="drinkinfo>
        <img src="/images/compass-icon.png" width="20"/> Posted at Bar89.
      </div>
      <br />
      <div class="drinktag">
        <strong>#Whiskey</strong>
      </div>
      <div class="drinktag">
        <strong>#Gin</strong>
      </div>
    </div>
  <% end %>
</div>