<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <h6><%= f.name %></h6>
      <%= image_tag f.photo.url(:medium) %><br />
      <%= f.description %>
    </div>
  <% end %>
</div>