<% @posted_and_liked_drinks.each do |f| %>
  <div class="cta-box">
    <div style="float:left;">
      <%= f.name %><br />
      <%= f.description %>
    </div>
    <div style="float:right;">
      <%= image_tag f.photo.url(:medium) %>
    </div>
  </div>
<% end %>