<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <center>
        <h6><%= f.name %></h6>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <div class="more-button">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174039_803799546_442177773_q.jpg" style="float:left; padding-right:30px; padding-left:10px;" width="20"/>
        <%= f.description %>
      </div>
      <br />
    </div>
  <% end %>
</div>