<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <center>
        <h6><%= f.name %></h6>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <div style="background-color: #F4E4BF; padding:3px;">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174039_803799546_442177773_q.jpg" style="float:left; padding-right:10px; padding-left:10px;" width="20"/> Posted by TheSchnaz.
        "<%= f.description %>"
      </div>
      <br />
      <div style="background-color: #F4E4BF; padding:3px;">
        <img src="/images/compass-icon.png" style="float:left; padding-right:10px; padding-left:10px;" width="20"/> Posted at Bar89.
      </div>
      <br />
      <div style="background-color: #d2c29d; padding:3px; float:left;">
        #Whiskey
      </div>
      <div style="background-color: #b0c26b; padding:3px; float:left;">
        #Gin
      </div>
    </div>
  <% end %>
</div>