<div class="multi-columns">
  <% @posted_and_liked_drinks.each do |f| %>
    <div class="half">
      <h6><%= f.name %></h6>
      <center>
        <%= image_tag f.photo.url(:medium) %>
      </center>  
      <br />
      <%= f.description %>
    </div>
  <% end %>
</div>