<div class="sidebar-left">
    <p><a href="/users/<%= current_user.id %>" ><img src="<%= current_user.fb_pic_square %>" style="vertical-align:middle;"/></a> <a href="/users/<%= current_user.id %>" ><strong><%= current_user.name %></strong></a></p>
    <p><a href="http://drinkspottings.com/drinks.html"><strong>Post a drink</strong></a></p>
    <p><a href="/"><strong>Drink Feed</strong></a></p>
    <p><a href="/saved"><strong>Saved Drinks</strong></a></p>
</div>