<% if current_user %>
  <h1><a href="http://drinkspottings.com/drinks.html">Post a drink</a></h1>
  <div class="sidebar-left">
    <h6 style="margin-bottom:15px;"><%= current_user.name %></h6>
    <img src="<%= current_user.fb_pic_large %>" /> 
  </div>
  <div class="mainarea mainarea-center">
    <%= render 'shared/drinks' %>
  </div>
<% else %>
  HOME APP
<% end %>
