<% if current_user %>
  <%= render 'shared/side_bar' %>
  <div class="mainarea mainarea-center">
    <%= render 'shared/drinks' %>
  </div>
<% else %>
  <center>
  	<!-- <a href="/auth/facebook" style="float:right;">Login with Facebook</a> -->
  	<br />
  	<img src="/images/logo.png" class="top_logo"/>
  	<br />
    <img src="/images/drinks.png" style="padding-top:28px;"/>
    <div class="title">Celebrate your spirit!</div>
    <br />
    <p>Enjoy cocktail culture with Drinkspottings.
    <br />
    Share, save, and discover drinks worth talking about.</p>
  </center>
  <div style="width:100%;">
    <center style="padding-top:30px;">
      <a href="https://play.google.com/store/apps/details?id=com.drinkspottings.drinkspottings&hl=en"><img src="/images/badge_android.png" /></a>
    </center>
  </div>
<% end %>