<% if current_user %>
  <div class="sidebar-left">
    <h6 style="margin-bottom:15px;"><%= @user.name %></h6>
    <img src="<%= @user.fb_pic_large %>" /> 
  </div>
  <div class="mainarea mainarea-center">
    <%= render 'shared/drinks' %>
  </div>
<% else %>
  <h1>Drink like a pro!</h2>
<% end %>