<% if current_user %>
  <div rel="B1UACH9A" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="drinkspottings.com" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
<% else %>
  <h1>Drink like a pro!</h2>
<% end %>