<% if current_user %>
  <%= render 'shared/side_bar' %>
  <div class="mainarea mainarea-center">
    <%= render 'shared/drinks' %>
  </div>
<% else %>
  <center>
  	<!-- <a href="/auth/facebook" style="float:right;">Login with Facebook</a> -->
  	<br />
  	<img src="/images/logo.png" class="top_logo"/>
  	<br />
    <img src="/images/drinks.png" style="padding-top:28px;"/>
    <div class="title">Celebrate your spirit!</div>
    <br />
    <p>Enjoy cocktail culture with Drinkspottings.
    <br />
    Share, save, and discover drinks worth talking about.</p>
  </center>
  <div style="width:100%;">
    <center style="padding-top:30px;">
      <div rel="B1UACH9A" class="lrdiscoverwidget" data-logo="off" data-background="off" data-share-url="drinkspottings.com" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
    </center>
  	<!-- <div style="float:left; padding-left:190px; width:300px; padding-top:35px;">
  	  <div class="title">Login with Facebook</div>
  	  <br />
  	  <p>No need to remember another password.
  	  <br />
      Login with Facebook today!</p>
      <a href="/auth/facebook"><img src="/images/facebook-login.jpeg"></a>
    </div>
    <div style="float:right; padding-right:110px; width:300px; padding-top:35px;">
  	  <div class="title">Get the apps</div>
  	  <br />
  	  <p>Coming soon...<br />Drinkspottings for iOS and Android.</p>
    </div> -->
  </div>
<% end %>