<% if current_user %>
  <h1><a href="http://drinkspottings.com/drinks.html">Post a drink</a></h1>
  <div class="sidebar-left">
    <h6 style="margin-bottom:15px;"><%= current_user.name %></h6>
    <img src="<%= current_user.fb_pic_square %>" /> 
  </div>
  <div class="mainarea mainarea-center">
    <%= render 'shared/drinks' %>
  </div>
<% else %>
  <center>
  	<a href="/auth/facebook" style="float:right;">Login with Facebook</a>
  	<br />
  	<img src="/images/logo.png" class="top_logo"/>
  	<br />
    <img src="/images/drinks.png" style="padding-top:28px;"/>
    <div class="title">Celebrate your spirit</div>
    <br />
    <p>Enjoy cocktail culture with Drinkspottings.
    <br />
    Share, save, and discover drinks worth talking about.</p>
  </center>
  <div style="width:100%;">
  	<div style="float:left; padding-left:190px; width:300px; padding-top:35px;">
  	  <div class="title">Sign in with Facebook</div>
  	  <br />
  	  <p>No need to create another username & password.
  	  <br />
      Login with Facebook today!</p>
      <a href="/auth/facebook"><img src="/images/facebook-login.png"></a>
    </div>
    <div style="float:right; padding-right:110px; width:300px; padding-top:35px;">
  	  <div class="title">Get the apps</div>
  	  <br />
  	  <p>Coming soon...<br />Drinkspottings for iOS and Android.</p>
    </div>
  </div>
<% end %>