<% if current_user.nil? %>
    <h1>Follow [tag] Drinks on Drinkspottings</h1>
    Don't miss any drinks from [tag].  Get your account on Drinkspottings today.
    <br />
    <strong><a href="/auth/facebook">Sign up today!</a></strong>
  </div>
<% end %>

<div class="sidebar-right">
  <h6 style="margin-bottom:15px;"><%= @tag.name %></h6>
  <img src="<%= @user.fb_pic_large %>" /> 
</div>

<div class="mainarea mainarea-center">
  <%= render 'shared/drinks' %>
</div>
