<div class="title" style="padding-left:5px;" >Your drink has been posted!</div>
<br />
<img src="http://drinkspottings.com/images/drinks.png" style="width:70%;" />
<br /><br />
<p style="padding-left:30px;">(Restart Drinkpsottings to post another.)</p>