<div id="header">
  <div class="header-bar">
    <div id="logo">
      <a href="/"><img src="/images/logo.png" style="height:40px;"/></a>
    </div> 
    <% if current_user %>
      <p>
        <%= link_to "Log Out", signout_path %>
      </p>
    <% else %>
      <p>
        <%= link_to "Log In", "/auth/facebook" %>
      </p>
    <% end %>
  </div>
</div>