<div id="header">
  <div class="header-bar">
    <div id="logo">
      <a href="/"><img src="/images/logo.png" style="height:40px;"/></a>
    </div> 
    <!-- <% if current_user %>
      <p>
        <div style="float:right;padding-top:7px;"><%= link_to "Log Out", signout_path %></div>
      </p>
    <% else %>
      <p>
        <div style="float:right;padding-top:7px;"><%= link_to "Log In", "/auth/facebook" %></div>
      </p>
    <% end %> -->
  </div>
</div>