<div id="header">
  <div class="header-bar">
    <div id="logo">
      <a href="/"><img src="/images/logo.png" style="height:40px;"/></a>
    </div>
    <ul id="menu">  
      <% if current_user %>
        <li>
          <%= link_to "Sign Out", signout_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", "/auth/facebook" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>