<!DOCTYPE html>
<html>
<head>
  <title>Drinkspottings</title>
  
  <link href="/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/nivo-slider.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/skins.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- the line below is required for access to the appMobi JS library -->
  <script type="text/javascript" charset="utf-8" src="http://localhost:58888/_appMobi/appmobi.js"></script>

  <script type="text/javascript" language="javascript">
        // This event handler is fired once the AppMobi libraries are ready
        function onDeviceReady() {
            //use AppMobi viewport to handle device resolution differences if you want
            //AppMobi.display.useViewport(768,1024);

            //hide splash screen now that our app is ready to run
            AppMobi.device.hideSplashScreen();
        }

        //initial event handler to detect when appMobi is ready to roll
        document.addEventListener("appMobi.device.ready",onDeviceReady,false);
  </script> 



</head>
<body>
  <div id="root">
    <%= render 'layouts/header' %>
    <div id="content">
	  <div class="mainarea">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
